.cardTestimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E4;
    border-radius: 15px;
    width: 375px;
    height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.cardTestimonial:hover {
    box-shadow: 5px 5px 25px rgba(33,33,33,.8); 
}

.cardTestimonial-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.cardTestimonial-content-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardTestimonial-content-images-comillas {
    display: flex;
    width: 70%;
    align-items: flex-start;
    justify-content: right;
}

.cardTestimonial-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardTestimonial-content-text h4 {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #414141;
}

.cardTestimonial-content-text h3 {
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: -0.02em;
color: #414141;
}

@media (max-width: 500px){
    .cardTestimonial{
        width: 300px;
    }
}